
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

.container p {
    font-family: 'Source Serif 4', serif;

}

.container h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
}

.container caption {
    font-family: 'Source Serif 4', serif;
}

.container label {
    font-family: 'Source Serif 4', serif;
}

.container select {
    font-family: 'Source Serif 4', serif;
}

.container option {
    font-family: 'Source Serif 4', serif;
}

.container input {
    font-family: 'Source Serif 4', serif;
}

.container button {
    font-family: 'Source Serif 4', serif;
}